.left-part{
    background-color: #EFBC5E;
    min-height: 100%;
}

.right-part{
    background-color: #FFA600;
    min-height: 100%;
}

.map {
    max-width: 90%;
}

.btn-empezar {
    background-color: #000000;
    color: white;
    font-family: Inter, sans-serif;
    border-color: #FFA600;
}