.headerColor {
    background-color: #000000;
}

.title {
    color: #FFA600;
    font-family: "Inria Serif", serif;
    font-weight: bold;
    font-size: 80px;
}

.header-img {
    max-width: 100%;
}